{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<div class="text-center">
    <form class="form-signin" method="post" action="{% url 'record_list' %}" enctype="multipart/form-data">
        <h1 class="h3 mb-3 font-weight-normal">Upload Json File</h1>
        {% csrf_token %}
        <div class="custom-file">
            <input type="file" id="file" onchange="return fileValidation()" class="custom-file-input" name="data" required>
            <label class="custom-file-label" for="file">Choose file</label>
        </div>
        <input class="btn btn-lg btn-primary btn-block my-3" type="submit">
    </form>
</div>


<script>
        function fileValidation() {
            var fileInput =
                document.getElementById('file');

            var filePath = fileInput.value;

            // Allowing file type
            var allowedExtensions =
/(\.json)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            }
        }

</script>

{% endblock %}
