{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% include 'template_blocks/navbar.html' %}
{% block content %}


<div class="container">
<div class="text-center my-5">
    <form class="form-signin" method="post" action="{% url 'record_list' %}" enctype="multipart/form-data">

      <h1 class="h3 mb-3 font-weight-normal">Upload Json File</h1>
      {% csrf_token %}

        <div class="custom-file">
            <input type="file" id="file" onchange="return fileValidation()" name="data" required>

        </div>

    <input class="btn btn-primary btn-block my-3" type="submit">

    </form>
</div>
</div>

    <script>
        function fileValidation() {
            var fileInput =
                document.getElementById('file');

            var filePath = fileInput.value;

            // Allowing file type
            var allowedExtensions =
/(\.json)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            }
        }

        $('#file').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
    </script>


{% endblock %}