{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-field">
      <div class="text-center mt-4">
        <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="72">
        <h4 class=""> Please Sign In </h4>
      </div>

      <div class="container mt-3">
        <div class="d-flex justify-content-center">
        <div class="card p-3 " style="width: 30rem; padding:2rem;">

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
    {{ form|crispy }}

    {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    <button class="form-control btn btn-dark" type="submit">Submit</button>
</form>
</div>
 </div>
      </div>
</div>


{% endblock %}