{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container-field">
      <div class="text-center mt-4">
        <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="72">
        <h4 class=""> Please Sign Up </h4>
      </div>
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
        <div class="card p-3 " style="width: 30rem; padding:2rem;">

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
           <button class="form-control btn btn-dark" type="submit">Submit</button>
        </form>
        </div>
        </div>
    </div>
</div>


{% endblock %}
